<!-- 头部-->
<div class="header">
  <div class="headerContent">
    <div class="cart-wrap">
      <div class="cart">
         <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
         <% end %>
    </div>
  </div>


   <div class="search">
      <%= form_tag search_products_path , :method => :get, :class => "products-search-form" do %>
          <input name="utf8" type="hidden" value="✓">
          <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="输入你要搜索的商品">
          <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
      <% end %>
    </div>
  </div>
</div>


<!-- 分类条-->
<div class="menu ">
  <ul class="menuList">
    <ol class="menuList-item">
      <a href="/">首页</a>
    </ol>
    <ol class="menuList-item">
      <a href="/products">全部商品</a>
    </ol>
    <% Category.all.each do |category| %>
     <ol class="menuList-item">
       <%= link_to category.name, products_path(category: category.name), class: "link" %>
     </ol>
    <% end %>
  </ul>
</div>



<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>

    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, order_path(order.token)) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
