<h2> 添加商品 </h2>

<%= simple_form_for [:admin,@product] do |f| %>

<div class="group">
  <%= f.input :title, :label => "品名" %>
</div>

<div class="group">
<%= f.input :description, :label => "商品叙述" %>
</div>

<div class="group">
<%= f.input :price, :label => "价格" %>
</div>

<div class="group">
<%= f.input :quantity, :label => "库存" %>
</div>

<div class="group">
<%= f.input :is_hidden, :label => "隐藏" %>
</div>

<div class="group">
<%= f.input :category, as: :radio_buttons, collection: [['源系', '源系'], ['润系', '润系'], ['臻系', '臻系']],required: '源系', :label => "商品类型" %>
</div>

<div class="group">
<%= f.input :image, as: :file %>
</div>

<div class="group">
<%= f.input :particulars, as: :wysihtml5, :label => "商品详情" %>
</div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
