
          <!-- 轮播图 -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <div id="hover" class="carousel-inner" role="listbox">
              <div class="item active">
                 <div class="carousel-BC1">
                  <div class="container">
                    <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffzwb4j1o8j31jk0m84dh.jpg" width="1140" alt="...">
                    <div class="carousel-caption">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel-BC2">
                  <div class="container">
                    <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffzx8zia4pj31jk0m87wh.jpg" width="1140" alt="...">
                    <div class="carousel-caption">
                      <p></p>
                    </div>
                  </div>
                </div>
                </div>
              <div class="item">
                <div class="carousel-BC3">
                  <div class="container">
                    <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffzwx8n9etj31jk0m8qja.jpg" width="1140" alt="...">
                    <div class="carousel-caption">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="carousel-BC4">
                  <div class="container">
                    <img src="https://ws3.sinaimg.cn/large/006tNbRwgy1ffzxehh5uuj31jk0m8wwe.jpg" width="1140" alt="...">
                    <div class="carousel-caption">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- productList -->
          <div class="container">
              <div class="row">
                <% @products.each do |product| %>
                    <div class="col-xs-6 col-md-3 text-center">
                      <div class="productList">
                        <div class="img-productList">
                        <%= link_to product_path(product) do %>
                        <% if product.image.present? %>
                        <%= image_tag(product.image.thumb.url, class: "img-responsive center-block") %>
                        <% else %>
                        <%= image_tag("http://palcehold.it/200x200&text=No Pic", class: "img-responsive center-block") %>
                        <% end %>
                        <% end %>
                        </div>
                          <div class="productList-content">
                              <h4 class="productList-title">
                                <%= link_to(product.title, product_path(product))%>
                            </h4>
                        </div>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>
















  <!-- 排序
  <div class="orderList">
    <div class="orderList-item "><h4><strong></strong></h4></div>
    <div class="orderList-item "><h4><strong></strong></h4></div>
    <div class="orderList-item "><h4><strong></strong></h4></div>
    <div class="orderList-item "><h4><strong></strong></h4></div>
  </div>


   头部
  <div class="header">
    <div class="headerContent">
      <div class="cart-wrap">
        <div class="cart">
           <%= link_to carts_path do  %>
              购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
           <% end %>
      </div>
    </div>


     <div class="search">
        <%= form_tag search_products_path , :method => :get, :class => "products-search-form" do %>
            <input name="utf8" type="hidden" value="✓">
            <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="输入你要搜索的商品">
            <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
        <% end %>
      </div>
    </div>
  </div>-->
