

<!-- 搜索结果 -->
<div class="container">
  <div class="row">
    <% if @products.blank?%>
      <br>
      <h3 class="text-center">
        无相应的搜索结果！
      </h3>
    <% else %>
      <h3 class="text-center" style="margin-top: 30px;">找到 <%= @products.count %> 个结果</h3>
      <hr />
            <% @products.each do |product| %>
              <div class="col-xs-6 col-md-3">
                  <div class="productList">
                    <div class="img-productList">
                    <%= link_to product_path(product) do %>
                    <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                    <% else %>
                    <%= image_tag("http://palcehold.it/200x200&text=No Pic", class: "thumbnail") %>
                    <% end %>
                    <% end %>
                    </div>
                      <div class="productList-content">
                          <h4 class="productList-title">
                          <%= link_to(render_highlight_content(product, @query_string), product_path(product)) %>

                        </h4>
                    </div>
                </div>
              </div>
              <% end %>
          </div>

       <div class="text-center">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>

  </div>
