<!-- 轮播图 -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
  <div id="hover" class="carousel-inner" role="listbox">
    <div class="item active">
       <div class="carousel-BC1">
        <div class="container">
          <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1ffzwb4j1o8j31jk0m84dh.jpg" width="1140" alt="...">
          <div class="carousel-caption">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel-BC2">
        <div class="container">
          <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1ffzx8zia4pj31jk0m87wh.jpg" width="1140" alt="...">
          <div class="carousel-caption">
            <p></p>
          </div>
        </div>
      </div>
      </div>
    <div class="item">
      <div class="carousel-BC3">
        <div class="container">
          <img src="https://ws4.sinaimg.cn/large/006tKfTcgy1ffzwx8n9etj31jk0m8qja.jpg" width="1140" alt="...">
          <div class="carousel-caption">
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="carousel-BC4">
        <div class="container">
          <img src="https://ws3.sinaimg.cn/large/006tNbRwgy1ffzxehh5uuj31jk0m8wwe.jpg" width="1140" alt="...">
          <div class="carousel-caption">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 搜索结果 -->
<div class="container">
  <div class="row">
    <% if @products.blank?%>
      <br>
      <h3 class="text-center">
        无相应的搜索结果！
      </h3>
    <% else %>
      <h3 class="text-center" style="margin-top: 30px;">找到 <%= @products.count %> 个结果</h3>
      <hr />
            <% @products.each do |product| %>
              <div class="col-xs-6 col-md-3">
                  <div class="productList">
                    <div class="img-productList">
                    <%= link_to product_path(product) do %>
                    <% if product.image.present? %>
                    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                    <% else %>
                    <%= image_tag("http://palcehold.it/200x200&text=No Pic", class: "thumbnail") %>
                    <% end %>
                    <% end %>
                    </div>
                      <div class="productList-content">
                          <h4 class="productList-title">
                          <%= link_to(render_highlight_content(product, @query_string), product_path(product)) %>

                        </h4>
                    </div>
                </div>
              </div>
              <% end %>
          </div>

       <div class="text-center">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>

  </div>
