
<!-- 头部-->
<div class="header">
  <div class="headerContent">
    <div class="cart-wrap">
      <div class="cart">
         <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
         <% end %>
    </div>
  </div>


   <div class="search">
      <%= form_tag search_products_path , :method => :get, :class => "products-search-form" do %>
          <input name="utf8" type="hidden" value="✓">
          <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="输入你要搜索的商品">
          <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
      <% end %>
    </div>
  </div>
</div>


<!-- 分类条-->
<div class="menu ">
  <ul class="menuList">
    <ol class="menuList-item">
      <a href="/">首页</a>
    </ol>
    <ol class="menuList-item">
      <a href="/products">全部商品</a>
    </ol>
    <% Category.all.each do |category| %>
     <ol class="menuList-item">
       <%= link_to category.name, products_path(category: category.name), class: "link" %>
     </ol>
    <% end %>
  </ul>
</div>

<!-- 商品细节上半部分-->
<div class="productDetail">

  <!-- 商品路径 -->
    <p class="location"><%= link_to("首页", products_path)%> >
       <% Category.all.each do |category| %>
        <% if @product.category.name == category.name %>
           <%= link_to category.name, products_path(category: category.name), class: "link" %>
        <% end %>
       <% end %>
           > <%= @product.title %></p>

<!--商品上半部分左边-->
 <!-- 上半部分图片 -->
    <div class="productDetail-left">
      <div class="productDetail-left-bigImage ">
            <% if @product.image.present? %>
             <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
            <% else %>
             <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
     </div>

<!-- 收藏按钮-->
     <p style="margin-top: 00px;" >
        <% if current_user && current_user.is_member_of?(@product) %>
          <i class="fa fa-star col-red"></i>
           <%= link_to('收藏'.html_safe, quit_product_path(@product), method: :post, class: "btn btn-xs btn-default") %>
        <% else %>
          <i class="fa fa-star-o"></i>
           <%= link_to('收藏'.html_safe,join_product_path(@product), method: :post, class: "btn btn-xs btn-default" ) %>
       <% end %>
          <span>（<%= @product.collects.count %>人气）</span>
     </p>

 </div>

 <!--商品上半部分右边-->

  <div class="productDetail-right ">
      <div class="intro-text">
         <h3> <%= @product.title %> </h3>
       <p class="intro-text-desc">
         <h4><%= @product.description %></h4>
       </p>
       <p class="intro-text-value">
         <h4><span>售价</span><span>￥<%= @product.price %> </span></h4>
       </p>
       <p class="intro-text-service">
         <h4><span>运费</span><span>满199元包邮 | 正品保证</span></h4>
       </p>
       <p class="intro-text-count">
         <h4><span>库存</span><span><%= @product.quantity %></span></h4>
       </p>
       <div class="intro-text-car">
         <% if @product.quantity.present? && @product.quantity > 0 %>
           <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
         <% else %>
           已销售一空，无法购买
        <% end %>
      </div>
     </div>
   </div>

 </div>


<div class="productDecription">
    <div class="productDecription-menuList">
      <div class="productDecription-menuList-item ">
        <strong>商品详情</strong>
      </div>
      <div class="productDecription-menuList-item ">
        <strong>商品评价</strong>
      </div>
    </div>
    <div class="productDecription-content">
      <div class="productDecription-content-item " style="display: block;">内容1</div>
      <div class="productDecription-content-item ">内容2</div>
    </div>
  </div>

































  <!-- 切换动图
     <div class="productDetail-left">
       <div class="productDetail-left-bigImage ">
         <div class="preview">
           <div class="preview-pic tab-content">
             <% if @product.image.present? %>
              <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
             <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
             <% end %>
             <div class="tab-pane active" id="pic-1"><img src="" /></div>
             <div class="tab-pane" id="pic-2"><img src="" /></div>
             <div class="tab-pane" id="pic-3"><img src="" /></div>
          </div>
        </div>
      </div>
      <div class="productDetail-left-imageList">
        <div class="productDetail-left-imageList-item bg-color2">
          <div class=" preview-thumbnail nav nav-tabs">
            <a data-target="#pic-1" data-toggle="tab"><img src="" /></a>
          </div>
       </div>
       <div class="productDetail-left-imageList-item ">
          <div class=" preview-thumbnail nav nav-tabs">
            <a data-target="#pic-2" data-toggle="tab"><img src="" /></a>
          </div>
       </div>
       <div class="productDetail-left-imageList-item ">
         <div class=" preview-thumbnail nav nav-tabs">
            <a data-target="#pic-3" data-toggle="tab"><img src="" /></a>
         </div>
       </div>
     </div>-->
