<!-- 头部-->
<div class="header">
  <div class="headerContent">
    <div class="cart-wrap">
      <div class="cart">
         <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
         <% end %>
    </div>
  </div>
  <div class="search">
     <%= form_tag search_products_path , :method => :get, :class => "products-search-form" do %>
         <input name="utf8" type="hidden" value="✓">
         <input type="text" class="search-input" name="q" value="<%= params[:q] %>" placeholder="输入你要搜索的商品">
         <button type="submit" class="search-button pa tc"><i class="fa fa-search"></i></button>
     <% end %>
   </div>
 </div>
</div>

<!-- 分类条-->
<div class="menu ">
  <ul class="menuList">
    <li class="menuList-item">
      <a href="/products"><img src='<%= image_url 'logo1.png' %>'</a>
    </li>
    <li class="menuList-item">
      <a href="/products">全部商品</a>
    </li>
    <% Category.all.each do |category| %>
     <li class="menuList-item">
       <%= link_to category.name, products_path(category: category.name), class: "link" %>
     </li>
    <% end %>
  </ul>
</div>


<!-- product/detail-->

<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>

    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-left">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
    <div class="pull-left">
    <% if current_user && current_user.is_member_of?(@product) %>
     <%= link_to("取消收藏", quit_product_path(@product), method: :post, class: "btn btn-xs btn-default pull-right") %>
    <% else %>
      <%= link_to("收藏",join_product_path(@product), method: :post, class: "btn btn-xs btn-default pull-right" ) %>
    <% end %>
    </div>
  </div>
</div>
